.searchBar-wrap {
  display: flex;
  align-items: center;
 
  padding: 1.2rem 1rem;
}
.searchBar-icon {
  color: rgba(0, 0, 0, 0.26);
   margin-left: 18%;
  
}

.searchBar-wrap input {
  font-size: 1.3rem;
  border: 10px;
 border-radius: 8px;
  width: 30%;
  margin-right: 20%;
}

.searchBar-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}
.human-bar button{
  margin-left: 60%;
  background-color: rgb(50, 147, 50);
  color: rgb(3, 3, 3);
  width: 8%;
  border-radius: 1px;
 font-size: 1.2rem;
 margin-left: 10px;
 margin-top: 2px;
  flex-direction: right;
  border-radius: 5px;
}
.malti-bar{
 
  margin-left: 35%;
  font-size: 2rem;
}