@import url( "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css");
.searchBar-wrap {
   display: flex; 
  align-items: right;
  padding: 1.0rem 0.6rem;
}
.searchBar-icon {
  color: rgba(0, 0, 0, 0.26);
   margin-left: 50%;
  
}

.searchBar-wrap input {
  font-size: 1.2rem;
  border: 8px;
 border-radius: 10px;
  width: 32%;
  margin-right: 3%;
}

.searchBar-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}

.malti-bar{
  border-radius: 8px;
  margin-left: 30%;
  margin-top: 0.5%;
  padding-left: 1px;
  font-size: 1.8rem;
  font-style:oblique;
  width: 74%;
}